.certificates {
	margin: 1em 0;
	padding: 1em 1.2em 4em 1.2em;
	background-color: aliceblue;
	color: black;
}

.eachCertificate {
	transition: all 250ms ease-in-out;
	border-radius: 1em;
	padding-bottom: 3em;
	background-color: white;
	overflow: hidden;
	cursor: grab;
	position: relative;
	/* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 13%, 90% 0%); */
}

.eachCertificate:hover {
	border: 2px solid rgba(125, 125, 125, 0.497);
	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.eachCertificate_Inner {
	width: 100%;
	margin-top: 0.5em;
}

.eachCertificate_Inner_Name {
	/* color: rgb(59, 59, 59); */
	color: black;
	font-style: normal;
	font-weight: bold;
	font-size: 1.12em;
	text-align: center;
}

.eachCertificate:hover > .eachCertificate_Inner_Name {
	visibility: hidden;
}

.eachCertificate_Details {
	padding: 1em 0.5em 1.2em 0.5em;
	font-style: italic;
	opacity: 0;
	position: absolute;
	background: linear-gradient(0.5turn, #ffffff00, rgb(162 255 255 / 93%));
	color: rgb(63, 63, 63);
	vertical-align: baseline;
	min-height: 3em;
	width: 100%;
	max-height: 75%;
	transition: all 500ms 80ms ease-in-out;
	bottom: 0;
	z-index: 5;
	overflow: auto;
	text-align: left;
}

.eachCertificate:hover > .eachCertificate_Details {
	opacity: 1;
}

.eachCertificateImg {
	padding: 5px 10px;
	width: inherit;
}

.swiper {
	width: 600px;
	height: 300px;
}

/*  counter */
.autoplay_progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: var(--swiper-theme-color);
}

.autoplay_progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 4px;
	stroke: var(--swiper-theme-color);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}
