.journey-timeline {
	.vertical-timeline-element-content {

		.content {
			font-size: 0.9em;
			color: #7b7b7b;
			max-height: 200px;
			overflow: auto;
			margin-top: 1em;

			ol {
				list-style: inside none auto;
			}

			ul {
				list-style: inside none '-';
			}
		}
	}
}