// --- Layout ---
$max-screen-width: 1420px;

// --- Backgrounds ---
$bg-color: var(--bg-color); // Main page background
$bg-light: var(--bg-light); // Secondary background (sections)
$card-bg: var(--card-bg); // Card specific background

// --- Text ---
$text-primary: var(--text-primary); // Main Headings
$text-secondary: var(--text-secondary); // Descriptions/Muted text

// --- Theme Colors ---
$primary-color: var(--primary-color); // Deep Dark Blue
$accent-color: var(--accent-color); // Blue (Links & Active states)
$accent-color-pink: #e91e63;
$accent-pink-dark: #c2185b;
$card-border: var(--card-border); // Subtle borders

// --- Icon Styling ---
$icon-color: #4f46e5; // Indigo
$icon-bg: var(--icon-bg); // Light Indigo tint

//
$icon-color-blue: #2563eb; // Blue (Icons)