.main-title {
	font-size: 2.2rem;
	font-weight: 800;
	color: $primary-color;
	margin: 0;

	.highlight {
		color: $accent-color;
	}
}

.main-title-2 {
	color: $primary-color;
	font-weight: 600;
	letter-spacing: 1px;
	text-decoration: underline;
	text-decoration-color: $accent-color;
	text-underline-offset: 8px;
	margin-bottom: 20px;
	display: inline-block;
}