@use "./_variables_utils.scss" as *;

.main-title {
	font-size: 2.2rem;
	font-weight: 800;
	color: $primary-color;
	margin: 0;

	.highlight {
		color: $accent-color;
	}
}

.main-title-2 {
	color: $primary-color;
	font-weight: 600;
	letter-spacing: 1px;
	text-decoration: underline;
	text-decoration-color: $accent-color;
	text-underline-offset: 8px;
	margin-bottom: 20px;
	display: inline-block;
}

.main-title-half-underline {
	font-size: 1.5rem;
	font-weight: 700;
	color: $text-primary;
	margin-bottom: 1.5rem;
	position: relative;
	display: block;
	width: 100%;

	// Optional: Add a small underline detail
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 40px;
		height: 3px;
		background-color: $accent-color;
		border-radius: 2px;
	}
}