@use "./_variables_utils.scss" as *;

.journey-timeline {

	.vertical-timeline-element-content {
		background-color: var(--card-bg) !important;
		color: var(--text-primary) !important;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;

		.content {
			font-size: 0.9em;
			color: var(--text-secondary);
			max-height: 200px;
			overflow: auto;
			margin-top: 1em;

			ol {
				list-style: inside none auto;
			}

			ul {
				list-style: inside none '-';
			}
		}
	}

	.vertical-timeline-element-content-arrow {
		border-right-color: var(--card-bg) !important;
	}
}