@use "./_variables_utils.scss" as *;


:root {
	--eachSkillHeightWidth: 200px;
}

.skillSection {
	padding: 2em 3em;
	padding-bottom: 0;
}

.heading {
	color: red;
	font-size: 2em;
	white-space: nowrap;
	margin: 8px 0;
}

.heading>.underline {
	width: 120px;
	height: 4px;
	border-radius: 3px;
	background: linear-gradient(90deg,
			rgba(253, 29, 29, 1) 0%,
			rgba(251, 181, 39, 0.6) 64%,
			rgba(252, 176, 69, 0) 100%);
}

.skillShowCase {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.previousNextAction {
	padding-left: 10px;
}

.previousSkill,
.nextSkill {
	background-color: rgb(227, 227, 227);
	border-radius: 50%;
	cursor: pointer;
	width: 50px;
	display: grid;
	place-content: center;
	aspect-ratio: 1/1;
	margin-bottom: 12px;
	border: none;
}

.previousSkill:hover,
.nextSkill:hover {
	background-color: rgb(186, 186, 186);
}

.previousSkill:active,
.nextSkill:active {
	background-color: rgb(143, 143, 143);
	box-shadow: 0 0 5px rgb(152, 152, 152);
}

.allSkills {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	align-items: stretch;
	gap: 1.5rem;
	/* max-height: calc(var(--eachSkillHeightWidth) * 2.8); */
	scroll-snap-type: y mandatory;
	overflow: auto;
	padding: 12px 12px 3em 12px;
	max-width: 1200px;
	box-shadow: inset 0 -9px 10px -10px #b0b0b0;
	margin: auto;
}

.allSkills::-webkit-scrollbar {
	display: none;
}

.division {
	width: 100%;
	font-weight: bold;
	font-size: 1.25em;
	border-bottom: 1px dashed rgba(128, 128, 128, 0.388);
	margin-top: 1em;
}