@use "./_variables_utils.scss" as *;


.abilitiesSection {
	text-align: center;
	padding: 2rem 2rem 5rem;
	box-shadow: inset 0 15px 15px 0 #ddddff;
	background: linear-gradient(180deg,
			rgba(221, 221, 255, 1) 0%,
			rgba(211, 145, 254, 0.3501050078234419) 40%,
			rgba(69, 223, 252, 0.28567923751531865) 100%);

	.abilities {
		display: flex;
		width: 100%;
		max-width: 1200px;
		margin: auto;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		align-items: stretch;
		justify-content: space-evenly;
		margin-top: 10px;
		gap: 3rem 1rem;

		.eachAbilities {
			background-color: white;
			border-radius: 5px;
			min-width: 300px;
			max-width: 300px;
			padding: 0 1em 1em 1em;
			color: black;
			box-shadow:
				rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
				rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
			transition: all 0.2s ease-in-out;

			&:hover {
				transform: translateY(-4px);
				background-color: #ffffff;
				border-color: $card-border;
				box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
			}


			& div {
				color: black;
				font-weight: bold;
				font-size: 1.4em;
			}

			img {
				min-height: 200px;
				width: 80%;
				transform: translate(0, -20px);
				max-height: 200px;
				animation: moveIconUpDown 20s infinite both;

				&+div {
					text-decoration: underline;
					text-decoration-color: #4753bf8a;
					text-decoration-style: dotted;
					margin-bottom: 0.3em;
				}
			}

			&:nth-child(2n) img {
				animation-delay: 1s;
			}

			.content {
				padding-top: 8px;
				color: slategray;
				font-size: 1em;
			}

			hr {
				margin: 1em 0;
			}
		}
	}
}

@keyframes moveIconUpDown {

	0%,
	100% {
		transform: translate(0, 0px);
	}

	25% {
		transform: translate(-20px, -10px);
	}

	50% {
		transform: translate(3px, 3px);
	}

	75% {
		transform: translate(20px, -30px);
	}
}