.imageCarousel {
	padding: 0;
	max-width: 400px;
	overflow: hidden;
	cursor: not-allowed;
}

.imageList {
	padding: 0;
	display: flex;
	transition: transform 800ms ease;
}

.imageItem img {
	aspect-ratio: 5/3;
	border-radius: 0.5em;
	padding: 2px 5px;
}

@media screen and (width < 650px) {
	.imageCarousel {
		display: none;
	}
}
