.previewsFullPage {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    /* background-color: rgba(29, 79, 73, 0.687); */
    background-color: rgba(255, 255, 255, 0.871);
    z-index: 20;
    padding-bottom: 0;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    font-size: 1rem;
    color: black;
}

.previewSection {
    --heightToAdjust: 7rem;
    display: flex;
    min-width: 50%;
    max-height: calc(100dvh - var(--heightToAdjust) * 1.25);
    margin-top: var(--heightToAdjust);
    padding-block: 5px;
    overflow: auto;
    max-width: 90vw;
    /* width: auto; */
    border-radius: 9px;
    box-shadow: 0 0 30px 1px #6e6e6eb8;
    background-color: white;
    z-index: 51;
    pointer-events: fill;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    justify-content: space-between;
}
.previewSection::-webkit-scrollbar {
    display: none;
}

.closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    float: right;
    display: grid;
    place-items: center;
    width: 1.3em;
    aspect-ratio: 1/1;
    font-size: 20px;
    border-radius: 50%;
    font-weight: bold;
    background-color: red;
    box-shadow:
        0 2px 6px rgba(159, 10, 10, 0.836),
        inset 0 1px 4px rgba(255, 255, 255, 0.653);
    cursor: pointer;
}