#navbar {
	color: black;
	display: flex;
	background-color: white;
	font-size: 1.2em;
	width: 100%;
	min-height: 50px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	top: 0;
	z-index: 51;
	justify-content: space-between;
	backdrop-filter: blur(9px) saturate(125%);
	transition: all 350ms ease-in-out;
	padding-inline: 4rem 2rem;
	padding-block: 5px;
	position: relative;
	box-shadow: 0 3px 30px 0 gray;
}
#navbar.floatingNav {
	position: sticky;
	top: 10px;
	width: calc(100vw - 100px);
	margin-inline: auto;
	box-shadow: 0px 1px 6px #bcbbbbbd;
	background-color: rgba(199, 199, 199, 0.61);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
}
#navIcon {
	max-height: 65px;
}

.sideBar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 30px 0 gray;
	width: 300px;
	height: 100dvh;
	max-height: 100dvh;
	overflow: auto;
	background-color: white;
	transition: all 350ms ease-in-out;
	z-index: 52;
}
.sideBar.hideSidebar {
	left: -100dvw;
}
.actions {
	display: flex;
	padding: 10px;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.action {
	transform: rotate(90deg);
	cursor: pointer;
}
.action:hover {
	color: rgb(255, 88, 88);
}

.links {
	padding: 4px 8px;
	color: black;
	text-decoration: none;
	transition: all 200ms ease-in-out;
}
.links:hover {
	padding-left: 16px;
	background-color: aliceblue;
	font-size: larger;
}
