@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&family=Quicksand&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik", "Quicksand", "Varela Round", sans-serif;
}

div::selection {
  background-color: rgb(0, 76, 255);
  color: rgb(216, 216, 216);
}

// :root {}

body {
  min-width: 375px;
  overflow-x: auto;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.myName {
  color: #f63b54;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.45em;
  word-spacing: 8px;
}

.alignIconText {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}