@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&family=Quicksand&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik", "Quicksand", "Varela Round", sans-serif;
}
div::selection {
  color: rgb(47, 92, 180);
  background-color: rgb(255, 255, 132);
}
:root {
  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize15: 15px;
  --fontSize20: 20px;
  --fontSize25: 25px;
  --fontSize30: 30px;
  --fontSize35: 35px;
  --fontSize40: 40px;
}
body {
  min-width: 375px;
  overflow-x: auto;
  background-color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.myName {
  color: #f63b54;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.15em;
  word-spacing: 8px;
}
