@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* font-family: 'Rubik', sans-serif; */

:root {
    --fontSize10: 10px;
    --fontSize12: 12px;
    --fontSize15: 15px;
    --fontSize20: 20px;
    --fontSize25: 25px;
    --fontSize30: 30px;
    --fontSize35: 35px;
    --fontSize40: 40px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
.icon > span > a:link,
.icon > span > a:visited,
.icon > span > a:hover,
.icon > span > a:active {
    color: white;
}
div {
    color: white;
    padding: 12px;
}
body {
    background: black;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    width: 100%;
    position: relative;
}
/* Navbar starts */
.navbar {
    color: white;
    padding: 15px 25px;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    z-index: 14;
    box-shadow: 0 1px 5px 0px #ffffff36;
}
.navbar > h1 {
    cursor: pointer;
}
.menus > h3 > a {
    text-decoration: none;
    color: white;
}
.navbar > .hamburger {
    display: none;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    padding: 3px 12px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
}
.navbar > div {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}
.navbar > div > h3 {
    padding: 3px 12px;
    cursor: pointer;
}
.navbar > div > h3 > a:hover {
    color: #f38332;
    background-color: #141414f0;
}
/* Navbar ends */

.main {
    width: 100%;
}
.firstView {
    width: 100%;
    min-height: 96vh;
    height: 96vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* for scroll Down action */
    position: relative;
}
.firstView > div {
    /* min-width: 440px; */
    width: 49%;
    padding: 12px;
    /* border: 2px solid white; */
}
.whoIAm {
    display: flex;
    /* min-width: 480px !important; */
    flex-direction: column;
    font-size: 30px;
    text-transform: uppercase;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
}
#myAvatar {
    padding: 0;
    position: absolute;
    top: 26%;
    /* right: 32%; */
    right: 22%;
    transform: rotate(-13deg) translate(50%, 10px);
    width: 180px;
    height: 210px;
    /* border: 1px solid #ff8918; */
    overflow: hidden;
    border-radius: 26% 88px 0px;
    cursor: grabbing;
    /* display: inline-block; */
}
#myAvatar > img {
    width: 100%;
    height: auto;
}
.name {
    color: #e7e4df;
    background-color: black;
    /* background-color: #343f4f; */
}
.wrapper {
    display: inline-flex;
}
.wrapper .static-txt {
    color: #fff;
    padding: 0;
    font-size: 28px;
    display: block;
    color: transparent;
    text-decoration: underline;
    text-underline-position: from-font;
    text-decoration-color: rgb(255 0 0 / 70%);
    padding: 0;
    -webkit-text-stroke: 0.2px white;
}
.wrapper .dynamic-txts {
    height: 30px;
    line-height: 31px;
    overflow: hidden;
    justify-content: center;
    margin-left: 7px;
    margin-top: 1px;
    z-index: -1;
}
.dynamic-txts li {
    color: #fa5151;
    list-style: none;
    font-size: 25px;
    font-weight: 500px;
    position: relative;
    top: 0;
    animation: slide 9.6s steps(4) infinite;
}
.whoIamPic {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.whoIamPic > div {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    /* box-shadow: inset 0 0 7px 5px #343f4f; */
}
.whoIamPic > div > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%) brightness(70%);
    box-shadow: 0 0 0 0 black;
    z-index: -1;
}
@keyframes slide {
    100% {
        top: -120px;
    }
}
.dynamic-txts li span {
    position: relative;
    height: 30px;
}
.dynamic-txts li span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid #fc6d6d;
    left: 0;
    /* background-color: #343f4f; */
    background-color: black;
    /* animation: typing 2s steps(14) infinite; */
    animation: typing 1.2s steps(14) infinite alternate;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/* Social Icons start*/
.socialIcons {
    /* margin-top: 20px; */
    margin-top: 9%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    /* background-color: #e94b10; */
    background-color: #ff8800;
    border-radius: 50px;
    padding: 3px;
}
.socialIcons .icon {
    margin: 0;
    padding: 3.5px 12px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.socialIcons .icon span {
    position: relative;
    /* height: 20px; */
    /* width: 20px; */
    display: block;
    /* background: black; */
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.socialIcons .icon span i {
    font-size: 22px;
    line-height: 20px;
    padding: 0;
}
.socialIcons .icon .tooltip {
    position: absolute;
    top: 0px;
    /* background: #0f1124; */
    background: white;
    color: black;
    font-weight: bold;
    font-size: 10px;
    padding: 9px 18px 12px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socialIcons .icon:hover .tooltip {
    top: -35px;
    opacity: 1;
    pointer-events: all;
}
.socialIcons .icon .tooltip::before {
    position: absolute;
    z-index: 1;
    content: "";
    height: 15px;
    width: 15px;
    /* background: #0f1124; */
    background: white;
    bottom: -8px;
    left: 50%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateX(-50%) rotate(45deg);
}
.socialIcons .icon:hover span,
.socialIcons .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.4);
}
/* Social Icons ends*/

/* Scroller starts*/
#scroller {
    /* border: 1px solid white; */
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    font-size: 0.75rem;
    cursor: context-menu;
}
#scroller > div {
    text-align: center;
    font-size: x-large;
    border: 1px solid white;
    border-radius: 17px;
    box-shadow: inset 1px 1px 2px 0 #e1dfdf, inset -1px -1px 2px 0 #c1b9b9;
    width: 15px;
    height: 35px;
    padding: 0;
    text-align: center;
    animation: scrolldot 2.5s linear infinite;
    margin-top: 6px;
    cursor: context-menu;
}
#scroller > div > span {
    animation: scrolldot2 2.5s linear infinite;
    box-shadow: 0 0 10px 3px black;
    border-radius: 20px;
    cursor: context-menu;
}
@keyframes scrolldot {
    0% {
        padding-top: 0px;
    }
    45% {
        padding-top: 12px;
    }
    65%,
    100% {
        padding-top: 15px;
    }
}
@keyframes scrolldot2 {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    75%,
    99% {
        opacity: 0;
    }
}
/* Scroller starts ends*/

/* About section start */
#aboutSection,
#educationSection,
#workExamplesSection,
#contactMeSection {
    /* border: 1px solid blue; */
    padding: 12px;
    margin-bottom: 50px;
    width: 100%;
    /* min-height: 65vh; */
    /* min-height: 600px; */
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
#workExamplesSection,
#contactMeSection {
    min-height: 20vh;
}
#aboutSection > h1,
#educationSection > h1,
#workExamplesSection > h1,
#contactMeSection > h1 {
    padding: 0px 0px 7px;
    font-family: Rubik;
    padding: 2px 8px;
    font-size: xx-large;
    text-shadow: 1px 1px 2px #c14d4d, 3px 2px 2px #4798bf;
    border-bottom: 1px solid red;
}
#educationSection > h1,
#contactMeSection > h1 {
    border-bottom: 1px solid blue;
    /* box-shadow: 0 1px 1px blueviolet, 1px 0px 0px 1px black, -1px 0px 1px 1px black; */
}
#firstInAbout,
#firstInEducation,
#firstInExamples,
#firstIncontactMe {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 22px 12px 12px 12px;
}
#firstInAbout > div,
#firstInEducation > div,
#firstInExamples > div,
#firstIncontactMe > div {
    /* border: 1px solid red; */
    padding: 15px;
    border-radius: 15px;
    margin: 0 auto;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#firstInAbout > div:nth-child(1),
#firstInEducation > div:nth-child(1),
#firstInExamples > div:nth-child(1),
#firstIncontactMe > div:nth-child(1) {
    /* background-color: #4798bf; */
    margin-bottom: 30px;
}
#firstInAbout > div:nth-child(1) > img,
#firstInEducation > div:nth-child(1) > img,
#firstInExamples > div:nth-child(1) > img,
#firstIncontactMe > div:nth-child(1) > img {
    background-color: orange;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}
#firstInExamples > div:nth-child(1) > img,
#firstIncontactMe > div:nth-child(1) > img {
    background-color: transparent;
    border-radius: 0;
}
#firstInAbout > div:nth-child(2) {
    background-color: #15121c;
    flex-grow: 2;
    position: relative;
}
#firstInAbout > div:nth-child(2)::before {
    content: "";
    width: 35px;
    height: 35px;
    background-color: #15121c;
    z-index: 12;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -55%) rotate(45deg);
    border-top: 1.4px solid pink;
    border-left: 1.4px solid pink;
}
#aboutMe {
    padding: 25px !important;
    border: 1.4px solid pink;
    width: 100%;
    /* display: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    /* transition: all 0.5s ease-in-out; */
}
#firstInAbout:hover > #aboutMe {
    display: flex;
}
#firstInAbout > div:nth-child(1):hover,
#firstInEducation > div:nth-child(1):hover,
#firstInExamples > div:nth-child(1):hover,
#firstIncontactMe > div:nth-child(1):hover {
    background-color: #486cc9;
    padding: 6px;
}
#aboutMe > div {
    /* border: 1px solid salmon; */
    max-width: 500px;
    font-weight: normal;
    font-family: "Rubik", sans-serif;
    /* text-transform: capitalize; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
#aboutMe > div > div > span {
    color: orange;
    font-style: italic;
    font-weight: bold;
}
#downloadCV {
    background-color: #ff9b09;
    max-width: 170px;
    width: auto;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset 0 0 3px 0px #050300;
}
#downloadCV:hover {
    background-color: #d88509;
}
#downloadCV > a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: #000000;
}
#bars {
    /* border: 1px solid red;    */
    border-radius: 6px;
    padding: 5px;
    width: 290px;
}
#bars > div {
    width: 100%;
}
#bars > div:first-child {
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px lightblue, 1px 1px 4px #819be5;
}
#bars > div > hr {
    display: block;
    color: yellow;
    background-color: yellow;
    /* width: 160%; */
    /* margin-left: 20%; */
    height: 1px;
    margin-top: 4px;
    border: 1px solid yellow;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #d930e5, 0px -2px 1px #d930e5;
}
#bars > .group > p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}
/* About section ends */

/* Education section start */
#aboutEducation {
    background-color: #241f30;
    padding: 25px;
    width: 83%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

#aboutEducation:hover {
    max-width: 750px;
}
#aboutEducation::before {
    content: "";
    width: 35px;
    height: 35px;
    /* background-color: #15121c; */
    background-color: rgb(19, 19, 19);
    z-index: 12;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -55%) rotate(45deg); /* 
    border-bottom: 3px solid rgb(116 2 2);
    border-right: 3px solid rgb(116, 2, 2); */ /*
    border-bottom: 2px solid rgba(223, 135, 4, 0.993);
    border-right: 2px solid rgba(223, 135, 4, 0.993);
    box-shadow: inset 9px 9px 10px 0 black, inset -3px -35px #ffffff66;
    */
    border-bottom: 2px solid rgb(70 46 10 / 99%);
    border-right: 2px solid rgb(153 94 7 / 99%);
    box-shadow: inset 9px 9px 10px 0 black, inset -3px -35px #ffffff00;
}
#aboutEducation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 200%;
    transform: rotate(45deg) translate(-19%, 0);
    /* background: #ff8d00; */
    background: #ff6a00;
    z-index: 1;
}
#aboutEducation > div {
    border-left: 1px solid white;
    min-height: 65px;
    margin: 0 0 0 5px;
    padding: 6px 2px 6px 20px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: start;
    cursor: grab;
    transition: border 0.3s ease-in-out, margin 0.3s ease-out;
    z-index: 3;
}
#aboutEducation > div > h1 {
    color: #95b0f5;
}
#aboutEducation > div:hover {
    border-left: 3px solid rgb(112, 97, 245);
    margin: 0 0 0 25px;
    border-radius: 3px;
}
#aboutEducation > div ::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 10px solid #241f30;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: rgb(167, 241, 247);
}
#aboutEducation > div > p > span {
    /* color: #5c4f5cef; */
    color: gray;
    font-size: small;
}
/* Education section Ends */

#aboutExamples,
#aboutContact {
    border: 1px solid white;
    background-color: #241f30;
    min-width: 90%;
    height: auto;
    min-height: 220px !important;
    display: flex;
    padding: 19px;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: center; */
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
/* About example work start */

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 1.2s ease-in-out;
}
#overlayID {
    opacity: 0;
    /* display: none; */
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    /* min-height: 1000px; */
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.507);
    font-size: x-large;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    /* transition: all 1.2s ease-in-out, background-color 1.5s cubic-bezier(0.53, -0.13, 0.82, 1.43); */
    transition: all 1.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.53, -0.13, 0.82, 1.43);
}
.container:hover > p {
    opacity: 0;
}
.container:hover #overlayID {
    opacity: 1;
    background-color: #248ccccb;
}
.details {
    /* border: 1px solid black; */
    position: relative;
    width: 75%;
    height: 100%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eye {
    position: absolute;
    font-size: x-large;
    width: 39px;
    height: 31px;
    background-color: #4798bf;
    border-radius: 7px;
    border: 2px solid #3c126396;
    bottom: 6px;
    padding: 0;
    left: 9px;
}
.eye > a {
    text-decoration: none;
    color: black;
}
.eye:hover {
    box-shadow: 0 0 4px #c9fffe, inset 0 0 3px #ffffff;
}
/* About example work ends */
#aboutContact {
    position: relative;
}
#aboutContact > div {
    display: flex;
    width: 50%;
    /* border: 1px solid red; */
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
    word-break: break-all;
    padding: 1px;
    cursor: pointer;
    position: relative;
}
#aboutContact:hover {
    min-width: 100%;
}
#aboutContact::before {
    position: absolute;
    content: "Contact through";
    top: 5px;
    width: 90%;
    left: 50%;
    color: white;
    padding: 7px;
    height: auto;
    background-color: #241f30;
    transform: translateX(-50%);
    z-index: 12;
    border-bottom: 1px solid gray;
}
#aboutContact > div > div > a {
    text-decoration: none;
    color: white;
}
.footer {
    text-align: center;
    background-color: rgba(33, 11, 87, 0.39);
    margin: 0px -12px -12px;
    padding: 20px 2px;
    font-size: large;
}
/* Page Scrollbar starts*/
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: #494848;
    box-shadow: inset 1px 1px 1px 0 #8f8d8d, inset -1px -1px 1px 0 #000000;
    border-radius: 5px;
}
/* Page Scrollbar ends */

@media (max-width: 970px) {
    .firstView {
        flex-direction: column;
        min-height: 80vh;
    }
    .firstView > div {
        height: 50%;
        width: 100%;
    }
    .firstView > div:last-child {
        height: 45%;
    }
    .whoIAm {
        justify-content: flex-end;
    }
    .whoIamPic > div > img {
        box-shadow: 1px 1px 20px 0 white;
        border-radius: 10px;
    }
    #myAvatar {
        top: 27%;
        right: 22%;
    }
    #scroller > div {
        height: 32px;
    }
}
@media (max-width: 800px) {
    .navbar > .menus {
        display: none;
    }
    .navbar > .hamburger {
        color: white;
        display: flex;
        background-color: #141414f0;
        align-items: center;
    }
}
@media (max-width: 560px) {
    #myAvatar {
        top: 35%;
        right: 18%;
        width: 135px;
    }
    #aboutContact > div {
        font-size: small;
    }
}
@media (max-width: 500px) {
    #myAvatar {
        display: none;
    }
    .firstView,
    .firstView > div,
    .firstView > div > .wrapper {
        padding: 0;
    }
    .wrapper .static-txt {
        font-size: small;
    }
}
@media (max-width: 400px) {
    .navbar > h1 {
        font-size: x-large;
    }
    #aboutSection > h1 {
        font-size: x-large;
    }
    #aboutEducation > div > h1 {
        font-size: x-large;
    }
}
@media (max-width: 925px) {
    #aboutMe > div:nth-child(1) {
        border-bottom: 1px solid gray;
        margin-bottom: 15px;
        padding-bottom: 20px;
    }
}

/*Small screen navbar starts*/
.sidebar {
    position: fixed;
    z-index: 3;
    left: 0;
    width: 100%;
    top: -70px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    background: #02121a;
    /* border-bottom: 1px solid white; */
    box-shadow: 0 100px 200px rgba(255, 255, 255, 0.452);
    transition: all 0.5s ease;
}
.sidebar h3 a {
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #0e618a;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
    text-decoration: none;
}
.move h3 a:hover {
    padding-left: 50px;
    text-shadow: 1px 1px 1px #4bb1b3a6, 0px 0px 1px #ffffff;
}

#check {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
label #btn,
label #cancel {
    padding: 5px 8px;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    pointer-events: all;
}
label #btn {
    top: 0;
    left: 0;
    font-size: 35px;
    color: white;
    transition: all 0.5s;
    z-index: 8;
}
label #cancel {
    top: 0;
    left: 0;
    padding: 5px 12px;
    z-index: 111;
    font-size: 35px;
    color: #0a5275;
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
    top: 70px;
    opacity: 1;
    height: auto;
}
#check:checked ~ label #cancel {
    z-index: 10;
    opacity: 1;
}
#check:checked ~ label #btn {
    opacity: 0;
}
/*Small screen navbar end*/

/*  Working languages section.*/
.workingWith {
    display: block;
}
.workWith {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    transition: all 1.2s ease-in-out;
}
.workWith::before {
    content: "";
    display: block;
}
#workH3 {
    float: left;
    font-family: Rubik;
    padding: 6px 10px;
    font-size: x-large;
    text-shadow: 1px 1px 2px #c14d4d, 3px 2px 2px #4798bf;
}
.workWith > div {
    width: 20%;
    /* border: 1px solid red; */
    padding: 8px;
    min-width: 60px;
    max-width: 150px;
    min-height: 60px;
    max-height: 150px;
    margin-bottom: 25px;
    overflow: hidden;
}
@media (max-width: 350px) {
    .workWith > div {
        width: 60px;
    }
}
.workWith > div > a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
}
.workWith > div > a > img {
    height: 100%;
    width: 100%;
    object-fit: inherit;
    margin: 0 auto;
    border-radius: 7px;
}
.workWith > div > a > img:hover {
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.658);
}
.workWith::-webkit-scrollbar {
    visibility: hidden;
}
