@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&family=Quicksand&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik", "Quicksand", "Varela Round", sans-serif;
}
div::selection {
  color: rgb(47, 92, 180);
  background-color: rgb(255, 255, 132);
}
:root {
  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize15: 15px;
  --fontSize20: 20px;
  --fontSize25: 25px;
  --fontSize30: 30px;
  --fontSize35: 35px;
  --fontSize40: 40px;
}
body {
  min-width: 375px;
  overflow-x: auto;
  background-color: white;
}

.experienceTxt {
  background-color: rgba(250, 250, 250, 0.54);
  padding: 1.8rem 3rem;
  word-spacing: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  & > img {
    min-width: 200px;
    max-width: 280px;
    width: 30%;
    flex: 1;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .journey {
    .journeyHeading {
      font-size: 1.15em;
      font-weight: bold;
      border-bottom: 2px dashed #787878;
    }
    .journeyText {
      min-width: 260px;
      margin-top: 8px;
    }
  }
  & > div {
    width: 100%;
    max-width: 700px;
    padding: 1rem;
    text-shadow: 1px 1px 1px rgb(137 154 229 / 71%);
    flex: 1;
  }
  svg {
    margin: 3px 5px 0 5px;
  }
  .journeyOtherTxt {
    padding: 1rem;
    max-width: 1300px;
    margin-top: 1.5rem;
    .projectExperience {
      text-decoration-line: underline;
      font-weight: bold;
      font-size: 1.4em;
      margin-bottom: 3px;
    }
  }
}
@media all and (max-width: "600px") {
  .experienceTxt {
    .journeyOtherTxt {
      max-height: 150px;
      box-shadow:
        -6px 9px 10px gray,
        6px -9px 10px #d5d5d5;
      overflow: auto;
      border-radius: 10px;
      padding: 5px 10px;
    }
  }
}
