@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&family=Quicksand&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/*  font-family: "Poppins", "Rubik", "Exo 2", "Quicksand", "Varela Round", sans-serif;  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik", "Quicksand", "Varela Round", sans-serif;
}
div::selection {
  color: red;
  background-color: yellow;
}
:root {
  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize15: 15px;
  --fontSize20: 20px;
  --fontSize25: 25px;
  --fontSize30: 30px;
  --fontSize35: 35px;
  --fontSize40: 40px;
}
body {
  min-width: 375px;
  overflow-x: auto;
  background-color: white;
}
.sectionBody {
  position: relative;
  /* background-image: url("images/polygon-scatter-haikei.svg"); */
  /* background-image: url("images/blob-scatter-haikei.svg"); */
}
