.image-carousel {
	padding: 0;
	max-width: 400px;
	/* background-color: rgba(255, 166, 0, 0.301); */
	overflow: hidden;
	cursor: not-allowed;
}

.image-list {
	padding: 0;
	display: flex;
	transition: transform 800ms ease;
}

.image-item img {
	aspect-ratio: 5/3;
	border-radius: 0.5em;
	padding: 2px 5px;
	/* object-fit: contain; */
}

@media screen and (width < 650px) {
	.image-carousel {
		display: none;
	}
}