/* Main Full body */
.coverFullScreen {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 200vh;
	width: 200vw;
	transform: translate(-50%, -50%);
	background: #8484846e;
	pointer-events: initial;
	z-index: 100;
}

.emailServiceSection {
	border: 1px solid rgb(0, 0, 0);
	text-align: left;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 0 10px #646981c2;
	max-height: 80vh;
	overflow: auto;
	min-width: 60vw;
	z-index: 1;
	border-radius: 0.5rem;
	background-color: rgb(19, 18, 40);
	color: rgb(255, 255, 255);
	font-family: Arial, sans-serif;
}

/* Close Modal Body */
.closeButton {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 2px 5px;
	text-align: center;
	font-size: small;
	font-weight: bolder;
	background: red;
	color: #270303;
	border-radius: 50%;
	border: 2.5px solid #390e4d;
}

.closeButton:hover {
	color: darkblue;
	background-color: rgb(255, 62, 62);
	border-color: rgb(13, 6, 32);
}

/* Header */
.emailService_header {
	position: relative;
	border-bottom: 1px solid #bebebe5c;
	margin-bottom: 1em;
}

/* text change main to above text area */
.inputField {
	padding: 3px 8px;
}

.inputLabel {
	transition: all 0.5s ease;
}

.inputField:not(:empty) {
	padding: 25px;
	color: maroon;
}

/* .inputField:not(:placeholder-shown)~.inputLabel, */
.inputField[data-valued="true"] ~ .inputLabel,
.inputField:not([disabled]):focus ~ .inputLabel {
	color: magenta;
	transform: scale(0.75) translateY(-39px);
}

.emailServiceSection input[type="submit"]:hover {
	margin-top: 5px;
	margin-bottom: 0px;
	border-radius: 2px;
	color: rgb(245, 244, 255);
	box-shadow: 0 0 5px 1px #756fe1;
}

h1 {
	text-align: center;
	margin-top: 0;
}

.form-group {
	margin-bottom: 20px;
}

.emailServiceSection div {
	padding: 8px;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	max-width: 100%;
	padding: 10px;
	border: none;
	background-color: #2b2b2b;
	background-color: #202126;
	color: #f0f0f0;
	border-radius: 10px;
	box-shadow:
		inset 5px 5px 10px #1e1e1e,
		inset -5px -5px 10px #363636;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	outline: none;
	box-shadow:
		inset 4px 4px 6px #1e1e1e,
		inset -4px -4px 6px #363636;
}

/* Submit button */
.submitButton {
	margin: 5px auto;
	font-size: large;
	display: block;
	width: 90%;
	padding: 10px;
	background-color: #3366cc;
	color: #f0f0f0;
	border: none;
	border-radius: 10px;
	box-shadow:
		5px 5px 10px #1e1e1e,
		-5px -5px 10px #363636;
	cursor: pointer;
}

.submitButton:hover {
	background-color: #0d47a1;
}
